[submodule "MatchGame2022\\MatchGame\\Assets\\Tools"]
	path = MatchGame2022\\MatchGame\\Assets\\Tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools
[submodule "MatchGame/Assets/Tools"]
	path = MatchGame/Assets/Tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools
